{% extends "basic.html" %}
{% load static %}
{% block content %}
<div class="w3-content" style="max-width:1100px">
<div class="w3-center w3-padding-64" id="about">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <table align="center">
          {{ form.as_table }}
        </table>

        <button type="submit">Submit</button>
    </form>
</div>
</div>
</div>
{% endblock %}
